# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Documentation
doc/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Editor temp files
*~
*.swo
*.swp
